@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');


*{


    font-family: 'Varela Round', sans-serif;

}

h1{

padding: 1rem;
text-align: center;
background-color: #27ae60;
color: white;

}